@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Outfit%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-vhGnRTP7wn0Z: #f5f5f5;
  --plasmic-token-unnamed-style-token: var(--token-vhGnRTP7wn0Z);
  --token-FBlilXydkLpD: #c7fa8f;
  --plasmic-token-secondary-color: var(--token-FBlilXydkLpD);
  --token-G9TcCti3k51b: rgba(1, 33, 54, 1);
  --plasmic-token-main-text-color: var(--token-G9TcCti3k51b);
  --token-xw0rVtPF67Cn: #ffffffb3;
  --plasmic-token-brighter-white: var(--token-xw0rVtPF67Cn);
  --token-lZXVewglMYLl: #daff7c;
  --plasmic-token-accent-2: var(--token-lZXVewglMYLl);
  --token-TRbwu9mFnlec: #152874;
  --plasmic-token-main-blue: var(--token-TRbwu9mFnlec);
  --token-Jp-TE-6OsUQy: #0d1535;
  --plasmic-token-main-bg-blue: var(--token-Jp-TE-6OsUQy);
}

.plasmic_tokens_override.plasmic_tokens_override {
  --token-Yq556PvPjGii: #ffffff;
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-KS1RIIJnyquo_font-family: "Inter", sans-serif;
  --mixin-KS1RIIJnyquo_font-size: 16px;
  --mixin-KS1RIIJnyquo_font-weight: 400;
  --mixin-KS1RIIJnyquo_font-style: normal;
  --mixin-KS1RIIJnyquo_text-align: left;
  --mixin-KS1RIIJnyquo_text-transform: none;
  --mixin-KS1RIIJnyquo_line-height: 1.5;
  --mixin-KS1RIIJnyquo_letter-spacing: normal;
  --mixin-KS1RIIJnyquo_white-space: pre-wrap;
  --mixin-KS1RIIJnyquo_user-select: text;
  --mixin-KS1RIIJnyquo_text-decoration-line: none;
  --mixin-KS1RIIJnyquo_text-overflow: clip;
  --mixin-KS1RIIJnyquo_color: #000000;
  --mixin-geFV4ZWNlg1d_font-weight: 700;
  --mixin-geFV4ZWNlg1d_font-size: 64px;
  --mixin-geFV4ZWNlg1d_line-height: 1;
  --mixin-geFV4ZWNlg1d_letter-spacing: -1px;
  --mixin-geFV4ZWNlg1d_white-space: pre-wrap;
  --mixin-w1RWNjJHvCoU_font-size: 48px;
  --mixin-w1RWNjJHvCoU_font-weight: 700;
  --mixin-w1RWNjJHvCoU_letter-spacing: -0.5px;
  --mixin-w1RWNjJHvCoU_line-height: 1.1;
  --mixin-w1RWNjJHvCoU_white-space: pre-wrap;
  --mixin-WWzySvTcz1rg_color: #0070f3;
  --mixin-WWzySvTcz1rg_white-space: pre-wrap;
  --mixin-tRHfFgG5g8J2_font-size: 32px;
  --mixin-tRHfFgG5g8J2_font-weight: 600;
  --mixin-tRHfFgG5g8J2_line-height: 1.2;
  --mixin-tRHfFgG5g8J2_white-space: pre-wrap;
  --mixin-ZNjGm_P3sZo4_font-size: 24px;
  --mixin-ZNjGm_P3sZo4_font-weight: 600;
  --mixin-ZNjGm_P3sZo4_line-height: 1.3;
  --mixin-ZNjGm_P3sZo4_white-space: pre-wrap;
  --mixin-VkVFf-baBEWN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VkVFf-baBEWN_border-bottom-color: #dddddd;
  --mixin-VkVFf-baBEWN_border-bottom-style: solid;
  --mixin-VkVFf-baBEWN_border-bottom-width: 1px;
  --mixin-VkVFf-baBEWN_border-left-color: #dddddd;
  --mixin-VkVFf-baBEWN_border-left-style: solid;
  --mixin-VkVFf-baBEWN_border-left-width: 1px;
  --mixin-VkVFf-baBEWN_border-right-color: #dddddd;
  --mixin-VkVFf-baBEWN_border-right-style: solid;
  --mixin-VkVFf-baBEWN_border-right-width: 1px;
  --mixin-VkVFf-baBEWN_border-top-color: #dddddd;
  --mixin-VkVFf-baBEWN_border-top-style: solid;
  --mixin-VkVFf-baBEWN_border-top-width: 1px;
  --mixin-VkVFf-baBEWN_border-bottom-left-radius: 3px;
  --mixin-VkVFf-baBEWN_border-bottom-right-radius: 3px;
  --mixin-VkVFf-baBEWN_border-top-left-radius: 3px;
  --mixin-VkVFf-baBEWN_border-top-right-radius: 3px;
  --mixin-VkVFf-baBEWN_font-family: "Inconsolata";
  --mixin-VkVFf-baBEWN_padding-bottom: 1px;
  --mixin-VkVFf-baBEWN_padding-left: 4px;
  --mixin-VkVFf-baBEWN_padding-right: 4px;
  --mixin-VkVFf-baBEWN_padding-top: 1px;
  --mixin-VkVFf-baBEWN_white-space: pre-wrap;
  --mixin-Vqk-cgenoEg4_border-left-color: #dddddd;
  --mixin-Vqk-cgenoEg4_border-left-style: solid;
  --mixin-Vqk-cgenoEg4_border-left-width: 3px;
  --mixin-Vqk-cgenoEg4_color: #888888;
  --mixin-Vqk-cgenoEg4_padding-left: 10px;
  --mixin-Vqk-cgenoEg4_white-space: pre-wrap;
  --mixin-HYnE8UNNRCaI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HYnE8UNNRCaI_border-bottom-color: #dddddd;
  --mixin-HYnE8UNNRCaI_border-bottom-style: solid;
  --mixin-HYnE8UNNRCaI_border-bottom-width: 1px;
  --mixin-HYnE8UNNRCaI_border-left-color: #dddddd;
  --mixin-HYnE8UNNRCaI_border-left-style: solid;
  --mixin-HYnE8UNNRCaI_border-left-width: 1px;
  --mixin-HYnE8UNNRCaI_border-right-color: #dddddd;
  --mixin-HYnE8UNNRCaI_border-right-style: solid;
  --mixin-HYnE8UNNRCaI_border-right-width: 1px;
  --mixin-HYnE8UNNRCaI_border-top-color: #dddddd;
  --mixin-HYnE8UNNRCaI_border-top-style: solid;
  --mixin-HYnE8UNNRCaI_border-top-width: 1px;
  --mixin-HYnE8UNNRCaI_border-bottom-left-radius: 3px;
  --mixin-HYnE8UNNRCaI_border-bottom-right-radius: 3px;
  --mixin-HYnE8UNNRCaI_border-top-left-radius: 3px;
  --mixin-HYnE8UNNRCaI_border-top-right-radius: 3px;
  --mixin-HYnE8UNNRCaI_font-family: "Inconsolata";
  --mixin-HYnE8UNNRCaI_padding-bottom: 3px;
  --mixin-HYnE8UNNRCaI_padding-left: 6px;
  --mixin-HYnE8UNNRCaI_padding-right: 6px;
  --mixin-HYnE8UNNRCaI_padding-top: 3px;
  --mixin-HYnE8UNNRCaI_white-space: pre-wrap;
  --mixin-GRL26WcoVLEI_display: flex;
  --mixin-GRL26WcoVLEI_flex-direction: column;
  --mixin-GRL26WcoVLEI_align-items: stretch;
  --mixin-GRL26WcoVLEI_justify-content: flex-start;
  --mixin-GRL26WcoVLEI_list-style-position: outside;
  --mixin-GRL26WcoVLEI_padding-left: 40px;
  --mixin-GRL26WcoVLEI_position: relative;
  --mixin-GRL26WcoVLEI_list-style-type: disc;
  --mixin-GRL26WcoVLEI_white-space: pre-wrap;
  --mixin-DSy6MkQMj_UY_display: flex;
  --mixin-DSy6MkQMj_UY_flex-direction: column;
  --mixin-DSy6MkQMj_UY_align-items: stretch;
  --mixin-DSy6MkQMj_UY_justify-content: flex-start;
  --mixin-DSy6MkQMj_UY_list-style-position: outside;
  --mixin-DSy6MkQMj_UY_padding-left: 40px;
  --mixin-DSy6MkQMj_UY_position: relative;
  --mixin-DSy6MkQMj_UY_list-style-type: decimal;
  --mixin-DSy6MkQMj_UY_white-space: pre-wrap;
  --mixin-zqpskvCsNjGV_font-size: 20px;
  --mixin-zqpskvCsNjGV_font-weight: 600;
  --mixin-zqpskvCsNjGV_line-height: 1.5;
  --mixin-zqpskvCsNjGV_white-space: pre-wrap;
  --mixin-y1GLMMhjlVDi_font-size: 16px;
  --mixin-y1GLMMhjlVDi_font-weight: 600;
  --mixin-y1GLMMhjlVDi_line-height: 1.5;
  --mixin-y1GLMMhjlVDi_white-space: pre-wrap;
  --mixin-_ZL4LK-eh97o_color: #3291ff;
  --mixin-_ZL4LK-eh97o_white-space: pre-wrap;
  --mixin-mq3LTw_e2os2_white-space: pre-wrap;
  --mixin-HGjq_XpY5kdG_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-KS1RIIJnyquo_font-family);
  font-size: var(--mixin-KS1RIIJnyquo_font-size);
  font-weight: var(--mixin-KS1RIIJnyquo_font-weight);
  font-style: var(--mixin-KS1RIIJnyquo_font-style);
  color: var(--mixin-KS1RIIJnyquo_color);
  text-align: var(--mixin-KS1RIIJnyquo_text-align);
  text-transform: var(--mixin-KS1RIIJnyquo_text-transform);
  line-height: var(--mixin-KS1RIIJnyquo_line-height);
  letter-spacing: var(--mixin-KS1RIIJnyquo_letter-spacing);
  white-space: var(--mixin-KS1RIIJnyquo_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-geFV4ZWNlg1d_font-weight);
  font-size: var(--mixin-geFV4ZWNlg1d_font-size);
  line-height: var(--mixin-geFV4ZWNlg1d_line-height);
  letter-spacing: var(--mixin-geFV4ZWNlg1d_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-w1RWNjJHvCoU_font-size);
  font-weight: var(--mixin-w1RWNjJHvCoU_font-weight);
  letter-spacing: var(--mixin-w1RWNjJHvCoU_letter-spacing);
  line-height: var(--mixin-w1RWNjJHvCoU_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-WWzySvTcz1rg_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-tRHfFgG5g8J2_font-size);
  font-weight: var(--mixin-tRHfFgG5g8J2_font-weight);
  line-height: var(--mixin-tRHfFgG5g8J2_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-ZNjGm_P3sZo4_font-size);
  font-weight: var(--mixin-ZNjGm_P3sZo4_font-weight);
  line-height: var(--mixin-ZNjGm_P3sZo4_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-VkVFf-baBEWN_font-family);
  border-radius: var(--mixin-VkVFf-baBEWN_border-top-left-radius)
    var(--mixin-VkVFf-baBEWN_border-top-right-radius)
    var(--mixin-VkVFf-baBEWN_border-bottom-right-radius)
    var(--mixin-VkVFf-baBEWN_border-bottom-left-radius);
  padding: var(--mixin-VkVFf-baBEWN_padding-top)
    var(--mixin-VkVFf-baBEWN_padding-right)
    var(--mixin-VkVFf-baBEWN_padding-bottom)
    var(--mixin-VkVFf-baBEWN_padding-left);
  border-top: var(--mixin-VkVFf-baBEWN_border-top-width)
    var(--mixin-VkVFf-baBEWN_border-top-style)
    var(--mixin-VkVFf-baBEWN_border-top-color);
  border-right: var(--mixin-VkVFf-baBEWN_border-right-width)
    var(--mixin-VkVFf-baBEWN_border-right-style)
    var(--mixin-VkVFf-baBEWN_border-right-color);
  border-bottom: var(--mixin-VkVFf-baBEWN_border-bottom-width)
    var(--mixin-VkVFf-baBEWN_border-bottom-style)
    var(--mixin-VkVFf-baBEWN_border-bottom-color);
  border-left: var(--mixin-VkVFf-baBEWN_border-left-width)
    var(--mixin-VkVFf-baBEWN_border-left-style)
    var(--mixin-VkVFf-baBEWN_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Vqk-cgenoEg4_color);
  padding-left: var(--mixin-Vqk-cgenoEg4_padding-left);
  border-left: var(--mixin-Vqk-cgenoEg4_border-left-width)
    var(--mixin-Vqk-cgenoEg4_border-left-style)
    var(--mixin-Vqk-cgenoEg4_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-HYnE8UNNRCaI_font-family);
  border-radius: var(--mixin-HYnE8UNNRCaI_border-top-left-radius)
    var(--mixin-HYnE8UNNRCaI_border-top-right-radius)
    var(--mixin-HYnE8UNNRCaI_border-bottom-right-radius)
    var(--mixin-HYnE8UNNRCaI_border-bottom-left-radius);
  padding: var(--mixin-HYnE8UNNRCaI_padding-top)
    var(--mixin-HYnE8UNNRCaI_padding-right)
    var(--mixin-HYnE8UNNRCaI_padding-bottom)
    var(--mixin-HYnE8UNNRCaI_padding-left);
  border-top: var(--mixin-HYnE8UNNRCaI_border-top-width)
    var(--mixin-HYnE8UNNRCaI_border-top-style)
    var(--mixin-HYnE8UNNRCaI_border-top-color);
  border-right: var(--mixin-HYnE8UNNRCaI_border-right-width)
    var(--mixin-HYnE8UNNRCaI_border-right-style)
    var(--mixin-HYnE8UNNRCaI_border-right-color);
  border-bottom: var(--mixin-HYnE8UNNRCaI_border-bottom-width)
    var(--mixin-HYnE8UNNRCaI_border-bottom-style)
    var(--mixin-HYnE8UNNRCaI_border-bottom-color);
  border-left: var(--mixin-HYnE8UNNRCaI_border-left-width)
    var(--mixin-HYnE8UNNRCaI_border-left-style)
    var(--mixin-HYnE8UNNRCaI_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-GRL26WcoVLEI_display);
  flex-direction: var(--mixin-GRL26WcoVLEI_flex-direction);
  align-items: var(--mixin-GRL26WcoVLEI_align-items);
  justify-content: var(--mixin-GRL26WcoVLEI_justify-content);
  list-style-position: var(--mixin-GRL26WcoVLEI_list-style-position);
  padding-left: var(--mixin-GRL26WcoVLEI_padding-left);
  position: var(--mixin-GRL26WcoVLEI_position);
  list-style-type: var(--mixin-GRL26WcoVLEI_list-style-type);
  column-gap: var(--mixin-GRL26WcoVLEI_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-DSy6MkQMj_UY_display);
  flex-direction: var(--mixin-DSy6MkQMj_UY_flex-direction);
  align-items: var(--mixin-DSy6MkQMj_UY_align-items);
  justify-content: var(--mixin-DSy6MkQMj_UY_justify-content);
  list-style-position: var(--mixin-DSy6MkQMj_UY_list-style-position);
  padding-left: var(--mixin-DSy6MkQMj_UY_padding-left);
  position: var(--mixin-DSy6MkQMj_UY_position);
  list-style-type: var(--mixin-DSy6MkQMj_UY_list-style-type);
  column-gap: var(--mixin-DSy6MkQMj_UY_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-zqpskvCsNjGV_font-size);
  font-weight: var(--mixin-zqpskvCsNjGV_font-weight);
  line-height: var(--mixin-zqpskvCsNjGV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-y1GLMMhjlVDi_font-size);
  font-weight: var(--mixin-y1GLMMhjlVDi_font-weight);
  line-height: var(--mixin-y1GLMMhjlVDi_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-_ZL4LK-eh97o_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
