.navContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: #ffffff00;
  box-shadow: 0px 4px 8px 0px transparent;
  transition-property: all;
  transition-duration: 0.6s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  padding: 0px 0px 0px 20px;
  border-bottom: 2px solid transparent;
}
@media (max-width: 1024px) {
  .navContainer {
    background: #ffffff00;
  }
}
@media (max-width: 620px) {
  .navContainer {
    padding-right: 20px;
  }
}
.navContainerchanges_scroll {
  background: #ffffff;
  border-bottom-color: #00000040;
  box-shadow: 0px 4px 12px 0px #00000026;
}
@media (max-width: 1024px) {
  .navContaineropen {
    background: #ffffff;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1410px;
  min-width: 0;
  padding: 20px 10px 20px 50px;
}
@media (max-width: 1024px) {
  .navbar {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 620px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.navContents {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .navContents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.logoContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1024px) {
  .logoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0px;
    min-width: 0;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 212px;
  height: 42px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___3Op68 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 0px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox___3Op68 {
    width: auto;
    cursor: pointer;
    height: auto;
    padding: 8px;
  }
}
@media (max-width: 1024px) {
  .freeBoxopen___3Op68XbNt1 {
    padding: 0px;
  }
}
.freeBox__c47Mb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .freeBox__c47Mb {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBoxopen__c47MbXbNt1 {
    display: none;
  }
}
.svg__u3EdK {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RvPI6LyeIPmd);
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: none;
}
@media (max-width: 1024px) {
  .svg__u3EdK {
    display: block;
  }
}
.freeBox__bx9R2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .freeBox__bx9R2 {
    display: none;
  }
}
@media (max-width: 620px) {
  .freeBox__bx9R2 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .freeBoxopen__bx9R2XbNt1 {
    display: flex;
  }
}
.svg__l8ZcI {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RvPI6LyeIPmd);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: none;
}
@media (max-width: 1024px) {
  .svg__l8ZcI {
    display: block;
  }
}
.freeBox__qFxhv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.4s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__qFxhv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 32px;
    height: 1px;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    column-gap: 0px;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .freeBoxopen__qFxhvXbNt1 {
    height: 80vh;
    row-gap: 16px;
    padding-top: 30px;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.span {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .span {
    height: 0px;
    flex-shrink: 0;
  }
}
.navItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 18px;
  padding: 0px;
}
@media (max-width: 1024px) {
  .navItemsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
.freeBox__s5Ohp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__s5Ohp {
    top: auto;
    left: auto;
  }
}
.freeBox__oJkAu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  position: relative;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__oJkAu {
    left: auto;
    top: auto;
  }
}
.freeBox__bvvK3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__bvvK3 {
    top: auto;
    left: auto;
  }
}
.freeBox__wvLcj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__wvLcj {
    top: auto;
    left: auto;
  }
}
.freeBox__hWzL3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__hWzL3 {
    top: auto;
    left: auto;
  }
}
.freeBox__gQRx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__gQRx {
    top: auto;
    left: auto;
  }
}
.freeBox__twYvj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__twYvj {
    top: auto;
    left: auto;
  }
}
.ctaButtonContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1024px) {
  .ctaButtonContaineropen {
    margin-top: 36px;
  }
}
.ctaButton:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
