.step1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__it5Zs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 1023px) {
  .freeBox__it5Zs {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 620px) {
  .freeBox__it5Zs {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.freeBox__yKxKx {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 625px;
  z-index: 0;
  min-width: 0;
  padding: 0px;
}
.text {
  animation: none;
  display: block;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff99;
  width: 100%;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.spanothers__1st__ewJEfc8S {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__2nd__ewJwXhVg {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__3rd__ewJApOi3 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__4th__ewJMuYt5 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__5th__ewJMrx8D {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__6th__ewJDzd7O {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__ewJ6Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__ewJeWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__ewJkDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__ewJD9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__ewJVQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__ewJrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__ewJVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__ewJbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__ewJYDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__ewJaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__ewJodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__ewJZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__ewJWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__ewJnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__ewJ5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__ewJ41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__ewJDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__ewJXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__ewJgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__ewJ6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__ewJUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__ewJWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__ewJQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__2nd__e4ZJwXhVg {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__3rd__e4ZjApOi3 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__4th__e4ZjMuYt5 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__5th__e4ZjMrx8D {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__6th__e4ZjDzd7O {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__e4Zj6Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__e4ZJeWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__e4ZJkDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__e4ZjD9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__e4ZjvQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__e4ZJrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__e4ZjVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__e4ZJbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__e4ZjyDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__e4ZJaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__e4ZJodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__e4ZjzbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__e4ZjwIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__e4ZJnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__e4Zj5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__e4Zj41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__e4ZjduzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__e4ZjxNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__e4ZJgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__e4Zj6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__e4Zjuedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__e4Zjwqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__e4ZjQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__3rd__rx4W8ApOi3 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__4th__rx4W8MuYt5 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__5th__rx4W8Mrx8D {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__6th__rx4W8Dzd7O {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__rx4W86Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__rx4W8EWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__rx4W8KDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__rx4W8D9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__rx4W8VQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__rx4W8Rshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__rx4W8VkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__rx4W8BalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__rx4W8YDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__rx4W8AJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__rx4W8OdCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__rx4W8ZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__rx4W8WIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__rx4W8NphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__rx4W85SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__rx4W841SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__rx4W8DuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__rx4W8XNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__rx4W8GTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__rx4W86JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__rx4W8Uedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__rx4W8Wqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__rx4W8QicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__4th__uxuP0MuYt5 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__5th__uxuP0Mrx8D {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__6th__uxuP0Dzd7O {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__uxuP06Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__uxuP0EWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__uxuP0KDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__uxuP0D9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__uxuP0VQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__uxuP0Rshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__uxuP0VkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__uxuP0BalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__uxuP0YDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__uxuP0AJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__uxuP0OdCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__uxuP0ZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__uxuP0WIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__uxuP0NphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__uxuP05SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__uxuP041SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__uxuP0DuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__uxuP0XNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__uxuP0GTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__uxuP06JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__uxuP0Uedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__uxuP0Wqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__uxuP0QicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__5th__jnb6NMrx8D {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__6th__jnb6NDzd7O {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__jnb6N6Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__jnb6NeWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__jnb6NkDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__jnb6ND9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__jnb6NVQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__jnb6Nrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__jnb6NVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__jnb6NbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__jnb6NYDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__jnb6NaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__jnb6NodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__jnb6NZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__jnb6NWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__jnb6NnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__jnb6N5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__jnb6N41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__jnb6NDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__jnb6NXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__jnb6NgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__jnb6N6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__jnb6NUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__jnb6NWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__jnb6NQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__6th__lk5QUDzd7O {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__lk5QU6Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__lk5QUeWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__lk5QUkDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__lk5QUD9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__lk5QUvQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__lk5QUrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__lk5QUVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__lk5QUbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__lk5QUyDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__lk5QUaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__lk5QUodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__lk5QUzbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__lk5QUwIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__lk5QUnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__lk5QU5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__lk5QU41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__lk5QUduzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__lk5QUxNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__lk5QUgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__lk5QU6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__lk5QUuedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__lk5QUwqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__lk5QUQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__7th__zpwv16Zi1T {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__8th__zpwv1EWaZ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__zpwv1KDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__zpwv1D9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__zpwv1VQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__zpwv1Rshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__zpwv1VkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__zpwv1BalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__zpwv1YDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__zpwv1AJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__zpwv1OdCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__zpwv1ZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__zpwv1WIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__zpwv1NphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__zpwv15SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__zpwv141SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__zpwv1DuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__zpwv1XNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__zpwv1GTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__zpwv16JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__zpwv1Uedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__zpwv1Wqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__zpwv1QicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__9th__vjEgwkDLym {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__vjEgwD9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__vjEgwVQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__vjEgwrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__vjEgwVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__vjEgwbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__vjEgwYDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__vjEgwaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__vjEgwodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__vjEgwZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__vjEgwWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__vjEgwnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__vjEgw5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__vjEgw41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__vjEgwDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__vjEgwXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__vjEgwgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__vjEgw6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__vjEgwUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__vjEgwWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__vjEgwQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__10th__y1CudD9X9 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__y1CudVQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__y1Cudrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__y1CudVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__y1CudbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__y1CudYDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__y1CudaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__y1CudodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__y1CudZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__y1CudWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__y1CudnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__y1Cud5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__y1Cud41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__y1CudDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__y1CudXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__y1CudgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__y1Cud6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__y1CudUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__y1CudWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__y1CudQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__11Th__oCVsvQ5E {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__oCVSrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__oCVsVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__oCVSbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__oCVsyDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__oCVSaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__oCVSodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__oCVszbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__oCVswIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__oCVSnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__oCVs5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__oCVs41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__oCVsduzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__oCVsxNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__oCVSgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__oCVs6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__oCVsuedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__oCVswqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__oCVsQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__12Th__rsboVrshoo {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__rsboVVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__rsboVbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__rsboVyDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__rsboVaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__rsboVodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__rsboVzbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__rsboVwIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__rsboVnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__rsboV5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__rsboV41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__rsboVduzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__rsboVxNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__rsboVgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__rsboV6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__rsboVuedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__rsboVwqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__rsboVQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__13Th__wQjYxVkLnh {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__wQjYxbalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__wQjYxYDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__wQjYxaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__wQjYxodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__wQjYxZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__wQjYxWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__wQjYxnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__wQjYx5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__wQjYx41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__wQjYxDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__wQjYxXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__wQjYxgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__wQjYx6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__wQjYxUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__wQjYxWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__wQjYxQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__14th__aqek7BalJl {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__aqek7YDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__aqek7AJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__aqek7OdCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__aqek7ZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__aqek7WIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__aqek7NphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__aqek75SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__aqek741SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__aqek7DuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__aqek7XNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__aqek7GTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__aqek76JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__aqek7Uedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__aqek7Wqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__aqek7QicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__15th__wrRymYDtTd {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__wrRymaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__wrRymodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__wrRymZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__wrRymWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__wrRymnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__wrRym5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__wrRym41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__wrRymDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__wrRymXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__wrRymgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__wrRym6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__wrRymUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__wrRymWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__wrRymQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__16th__gqYwEaJaq {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__gqYwEodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__gqYwezbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__gqYwewIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__gqYwEnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__gqYwe5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__gqYwe41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__gqYweduzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__gqYwexNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__gqYwEgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__gqYwe6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__gqYweuedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__gqYwewqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__gqYweQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__17th__k1MepodCOp {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__k1MepZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__k1MepWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__k1MepnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__k1Mep5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__k1Mep41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__k1MepDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__k1MepXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__k1MepgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__k1Mep6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__k1MepUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__k1MepWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__k1MepQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__18th__hDkTuZbZS {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__hDkTuWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__hDkTunphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__hDkTu5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__hDkTu41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__hDkTuDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__hDkTuXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__hDkTugTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__hDkTu6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__hDkTuUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__hDkTuWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__hDkTuQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__19th__k7LlWIx9F {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__k7LlNphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__k7Ll5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__k7Ll41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__k7LlDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__k7LlXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__k7LlGTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__k7Ll6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__k7LlUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__k7LlWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__k7LlQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__20th__wYe5UnphNm {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__wYe5U5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__wYe5U41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__wYe5UDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__wYe5UXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__wYe5UgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__wYe5U6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__wYe5UUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__wYe5UWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__wYe5UQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__21Th__pmvGs5SoR {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd__pmvGs41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__pmvGsduzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__pmvGsxNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__pmvGSgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__pmvGs6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__pmvGsuedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__pmvGswqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__pmvGsQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__22nd___8BLo41SEe {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd___8BLoDuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th___8BLoXNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th___8BLoGTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th___8BLo6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th___8BLoUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th___8BLoWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th___8BLoQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__23rd__nobQ2DuzQz {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th__nobQ2XNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__nobQ2GTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__nobQ26JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__nobQ2Uedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__nobQ2Wqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__nobQ2QicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__24th___4Qc2JxNsPs {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th___4Qc2JgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th___4Qc2J6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th___4Qc2Juedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th___4Qc2Jwqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th___4Qc2JQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__25th__elvXbgTxd0 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__elvXb6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__elvXbUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__elvXbWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__elvXbQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__26th__pkEto6JjtQ {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th__pkEtouedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th__pkEtowqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__pkEtoQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__27th___4VwnlUedj1 {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th___4VwnlWqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th___4VwnlQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__28th___5Z8TBwqmsw {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th___5Z8TBQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
.spanothers__29th__w3QdfQicRa {
  color: var(--token-xw0rVtPF67Cn);
}
